div {
  border: 1px dashed black;
}

/* Contenedor */

#contenedor{
	margin: 0px auto;
	width: 800px;
	overflow-y: auto;
}

/* Cabecera */

#cabecera{
    background-color: yellow;
	height: 150px;
}

#c1 {
  background-color: #a8d6cc;
  height: 140px;
  width: 250px;
  float: left;
}

#c1titulo   {
  float:right;
  margin-top: 30px;
  width:220px;
}

#c1titulo h1 {
  margin:0px;
  background-color: #e880f3;
  border: 1px dashed black;
  text-align: center;
}

#c1titulo p {
  background-color: #e9a091;
  text-align: center;
  margin:0px;
}

#c2 {
  background-color: #b6ff2c;
  width: 170px;
  height: 100px;
  margin-left: 50px;
  float: left;
  position: relative;
}

#c2contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0px;
}

#c2contenido h5, #c2contenido h4 {
    margin: 0px;
}

#c3 {
  background-color: #7efccc;
  height: 120px;
  float: right;
  width: 275px;
}

#c3contenido {
  width: 230px;
  margin-top: 20px;
  border: 0px;
  font-size: 10px;
}

#c3 h3, #c3 p {
  margin:0px;
}

/* Contenido */

#contenido {
    background-color: #7efcbf;
    margin: 0px 0px;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
}

/* Menu */

#menu {
	margin: 0px 5px;
	overflow-y: auto;
}
#m1 {
	overflow-y: auto;
    background-color: #40E0D0;
}

#m2 {
    overflow-y: auto;
    background-color: #AFEEEE;

}

#menu li {
	display: inline;
	float:left;
	border: 1px dashed black;
}

#m1 ul {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 20px;
}

#m1 li {
	padding: 10px;
}

#m2 ul {
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
}

#m2 li {
	padding: 0px 4px;
}

/* Cuerpo */

#cuerpo {
    overflow-y: auto;
    background-color: #63A8F6;
    padding: 2px;
    height: 420px;
}

#columna1 p {
    font-size: 12px;
    margin: 0px;
}

#columna2 p {
    font-size: 12px;
}

#columna1 { 
    margin:5px;
    width: 400px;
    float:left;
    
}

#columna2 {
    margin: 5px;
    width:357px;
    float:right;
    border: none;
}

#fila1 h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

#fila2 h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

#fila3 h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

#fila4 h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

#fila1 {
    background-color: #F38D9B;
}

#fila2 {
    background-color: #CEE187;
    height: 120px;
}

#fila3 {
    background-color: #CEE187;
    height: 120px;
}

#fila4 {
    background-color: #F6E2AF;
    height: 120px;
}

#pilar1 h3 {
    margin-top: 3px;
    margin-bottom: 3px;  
}

#pilar1 {
    background-color: #F2707A;
}

#pilar2 {
    background-color: #8FC3FD;
    width: 113px;
    float: left;
    height: 360px;
}

#pilar3 {
    background-color: #65EAFD;
    width: 113px;
    float: left;
    height: 340px;
}

#pilar4 {
    background-color: #DBC685;
    width: 116px;
    float: left;
    height: 340px;
}

#img1 {
    float:left;
    clear:left;
    margin-top:3px;
    margin-left:3px;
}

#img2 {
    float:left;
    clear:left;
    margin-top:3px;
    margin-left:3px;
}

#img3 {
    float:left;
    clear:left;
    margin-top:3px;
    margin-left:3px;
}

#play {
    height: 10px;
    width: 10px;
}
/* Colores elementos */

#m1l1 {
	background-color: #DEB887;
}

#m1l2 {
	background-color: #CD5C5C;
}

#m1l3 {
	background-color: #FFB6C1;
}

#m1l4 {
	background-color: #6495ED;
}

#m1l5 {
	background-color: #7FFFD4;
}

#m1l6 {
	background-color: #87CEFA;
}

#m1l7 {
	background-color: #87CEEB;
}

#m2l1 {
	background-color: #9ACD32;
}

#m2l2 {
	background-color: #FFFF00;
}

#m2l3 {
	background-color: #32CD32;
}

#m2l4 {
	background-color: #FFDEAD;
}
/* Pie */

#pie {
  background-color: yellow;
  padding: 10px;
}

#pie p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.7em;
}

