#c1, #c2, #c3, #c4 {
    border: 1px solid black;
    float: left;
    display: inline;
    width: 20%;
    padding: 10px 10px;
    text-align: center;
}

#contenedor {
    width: 70%;
    height: 500px;
}

@media screen and (max-width:500px) {
    #c1, #c2, #c3, #c4 {
        display: block;
        width: 80%;
    }
}