#Mi5 {
    margin-left: 100px;
    margin-top: -49px;
}

body{
    width: 100%;
    height: 100%;
    font-family: serif;
    font-style: italic;
}

#menu1 {
    display: inline;
    float:left;
    width: 100%;
    height: 100%;
}

li {
    width: 100px;
    height: 50px;	
    display: inline;
    float: left;
    padding-top: 30px;
    border: 1px black solid;
    text-align: center;
    background-color: goldenrod;
    
}

ul {
    padding: 0px;
    margin-bottom: 10px;
}

#lista {
    margin-top: 32px;
}

#ul1 {
    margin-top: 32px; 
}

#ul2 {
    margin-top: 32px; 
}

#ul3 {
    margin-top: 32px; 
}

#lista li {
    background-color:crimson; 
}

#ul1 li {
    background-color: blueviolet;
}

#ul2 li {
    background-color:deepskyblue;
}

#ul3 li {
    background-color:chartreuse; 
}